html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3.8rem;
  letter-spacing: 0.5rem;
}

h1 span {
  color: #0d6efd;
}

h2 {
  letter-spacing: 0.3rem;
}

h3 {
  letter-spacing: 0.2rem;
}

.navbar-brand {
  color: #0d6efd !important;
  font-family: "Raleway", sans-serif;
}
ul li a {
  display: inline-block;
}

ul li a:hover {
  font-weight: bold;
}

.toast {
  z-index: 999 !important;
  box-shadow: 0px 0px 55px -10px rgba(0, 0, 0, 1) !important;
}
.hero {
  background-image: url(/E-commerce/img/principal.jpg);
  height: 25rem;
  min-width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-bg {
  background-color: #0d6efd;
}

.bg-green {
  background-color: #8cbc00;
}

.categorias img {
  transition: all 0.3s ease-in-out;
}

.categorias img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #000;

    transition: 400ms;
  }
  ul li a:hover::after {
    width: 100%;
  }

  .hero {
    height: 55rem;
  }

  .producto img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
  }
}
